/*
	Feuille de style globale
	Auteur : Serge COUDÉ
	
*/

h1 {
	text-align: center; 
	color: blue; 
	color: #0000ff; 
	color: #00f;
}	
			
p {
	font-size: 1.5em; 
	text-align: left; 
	margin-left: 10%;
}	
			
select {
	display: block; /* pour centrer */
	width: 40%;  /* pour centrer */
	margin: auto;  /* pour centrer */
	font-size: 1em;
}	

input {
	display: block; 
	width: 30%; 
	margin: auto; 
	margin-top: 5em; 
	font-size: 1em; 
	font-weight: bold;
	background-color: blue;
	/*background-color: red;*/
}
			
body {
	background-color: #ffffdd;
}